body {
    text-align:center;
    background-image:url(https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/fr/cp0/e15/q65/95906409_1079242375782017_863084626002837504_o.jpg?_nc_cat=111&_nc_sid=110474&efg=eyJpIjoidCJ9&_nc_eui2=AeH2JA_xLBRkB9yTPaGkyoS1v4FPFzo7ZcC_gU8XOjtlwEOXCB50gaM-R-8Otqghe7hG3RFKKxoAVQ9URrWgcfDd&_nc_oc=AQl_0tntRvAbhJh5igj91WGqeMKfWPUtQP23Lkp4rIy1YQ8Ci2luomC9g1CT02QRkNs&_nc_ht=scontent-los2-1.xx&_nc_tp=14&oh=7e4245dd0a491eaab17f3248423c5af0&oe=5EDBA45A);
    background-repeat:no-repeat;
    backdrop-filter: blur(6px);
    font-family:Raleway;
}
.login {
    font-size:30px;
    font-weight:bolder;

}
input {
    transition:0.3s;
    width:250px;
    height:20px;
    background:none;
    border-right:none;
    border-left:none;
    border-top:none;
    padding:8px;
    margin:10px;
    border-color:black;
    font-size:15px;
    outline:none;
    font-weight:bold;
}
button {
    width:100px;
    height:px;
    background-color:black;
    opacity:0.5;
    border-right:;
    border-left:;
    border-top:;
    padding:8px;
    font-family:Raleway;
    margin:10px;
    border-color:black;
    font-size:15px;
    outline:none;
    transition:0.3s;
    font-weight:bold;
    color:white;
}
button:hover {
    background-color:green;
    border-color:green;
    border-style:solid;
    opacity:0.5;
}
.g:hover {
    border-color:green;
    width:270px;
}
.me {
    width:20px;
    padding:0px;
    margin-left:-145px;
    font-weight:bolder;
}
p {
    color:black;
    font-weight:bold;
}
marquee {
    margin-top:150px;
    font-size:20px;
}