body {
    background: linear-gradient(to bottom right, #3498db, #e74c3c);
    background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

html {
    scroll-behavior: smooth;
}


/*Css header code*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

header img {
  height: 30px;
  width: 45px;
  object-fit: cover;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FE346E;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  background-color: #3BD9E6;
  color: #000;
}

button {
  color: #ffffff;
  padding: 6px 15px;
  border-radius: 5px;
  background-color: #FE346E;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #3BD9E6;
}



/*Css for hero section*/
.hero_section {
  padding-top: 80px;
  width: 100%;
  height: 200px;
  background-image: url('https://png.pngtree.com/png-clipart/20231015/original/pngtree-fast-food-feast-displaying-a-diverse-spread-of-fast-food-favorites-png-image_13310954.png');
  background-repeat: no-repeat;
  background-color: #3bd9e6;
  background-position: left;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_section form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero_section input[type="text"] {
  padding: 6px;
  border: 2px solid #fe346e;
  border-radius: 5px;
  font-size: 14px;
  width: 80%;
}

.hero_section input[type="text"]:focus {
  border-color: #3bd9e6;
}

.hero_section input[type="submit"] {
  padding: 7px 16px;
  border: none;
  background-color: #fe346e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 20%;
}


/*h3 title text*/

.h3q1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 40px 0 40px 0;
}


/*food section css*/
.food {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.item {
  margin: 20px;
  position: relative;
  text-align: center;
  color: #ffffff;
  flex-basis: calc(33.333% - 40px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.item:hover img {
  transform: scale(1.1);
}

.item .h4q2 {
  position: absolute;
  bottom: 30px;
  left: 60%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.item:hover .h4q2 {
  transform: translateY(0);
}

/*css code for food menu*/
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  margin-top: 50px;
}

.box {
  border: 1px solid #BFBFBF;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.box img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.box .textbook {
  text-align: center;
  margin-top: 10px;
}

.box h3 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.box h4 {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.box p {
  color: #333;
  font-size: 13px;
  margin-bottom: 10px;
}

.box button {
  color: #ffffff;
  padding: 5px 11px;
  border-radius: 5px;
  background-color: #FE346E;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 10px;
}

.box button:hover {
  background-color: #3BD9E6;
}

/*Css code for footer*/
i {
  font-size: 24px;
}

#font1 {
  color: #1877F2;
}

#font2 {
  color: #E4405F;
}

#font3 {
  color: #1DA1F2;
}

footer {
      text-align: center ;
      background-color: #ffffff ;
      padding: 20px 30px 25px 30px ;
      margin: 20px 0 0 0 ;
      color: black ;
      height: 60px;
      width: 100%;
}



/*media querry code*/



/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  header img {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    
  }
  
  nav ul li a {
    border: 3px solid white ;
    text-transform: uppercase ;
    color: #3b29e6;
  }

  nav ul li {
    padding: 5px 0;
  }

  button {
    margin-top: 20px;
  }
}


@media screen and (max-width: 768px) {
  .hero_section form {
    width: 80%;
  }

  .hero_section input[type="text"] {
    width: 100%;
    margin-right: 10px;
  }

  .hero_section input[type="submit"] {
    width: 100%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .item {
    flex-basis: calc(50% - 40px);
  }
}

@media screen and (max-width: 480px) {
  .item {
    flex-basis: calc(100% - 40px);
  }
}

@media (max-width: 768px) {
  .menu {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  footer p {
    margin: 0;
  }
}



