@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    font-family:"Poppins",sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh; background-image:url("https://dl.dropboxusercontent.com/scl/fi/dq26ys1z9hqt1xm8s1z3u/dark-moonlight-night-in-forest-nature-landscape-vector.jpg?rlkey=fes5cq2jg2n8mmviq6dzvirto&dl=0");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    
}

.box1{
    width:340px;
    background-color:rgba(0,0,0,0.245);
    color:#fff;
    border-radius:7px;
    padding:30px 40px ;
    backdrop-filter:blur(20px);
}
.box1 h1{
    font-size:30px;
    text-align:center ;
}
.box1 .box2{
position:relative;
    width:100%;
    height: 50px;
    margin:20px 0;
}
.box2 input{
background:transparent;
width:100%;
height:100%;
border:none;
outline:none;
border:2px solid rgba(255,255,255,0.2);
border-radius:50px;
font-size:16px;
padding:25px 40px 25px 20px;
}
.box2 input::placeholder{
    color:#fff;
}
.box2 i{
right:20px;
position:absolute; 
top:30%;
font-size:20px;
}
.box1 .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size:12px;
}
.remember-forgot label input {
    color:#fff;
    margin-right:3px;
}
.remember-forgot a{
    color:#fff;
    text-decoration:none;
}
.remember-forgot a:hover {
text-decoration:underline   
}
.box1 .btn{
    width:100%;
    height:40px;
    border:none;
    outline:0;
    font-weight:bold;
    border-radius:40px;
    margin-top:10px;
}
.register a{
    text-decoration:none;
    color:#fff;
}
.register a:hover {
text-decoration:underline 
}
.box1 .register{
     font-size:12px;
     text-align:center;
     margin-top:10px 0 10px;
} 
.register p a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
}
.register p a:hover{
text-decoration:underline ;
}